[[source]]

verify_ssl = true
url = "https://pypi.python.org/simple"
name = "pypi"


[packages]

pygame = "*"
singleton-decorator = "*"
pantograph = "*"
fire = "*"


[dev-packages]



[requires]

python_version = "3.6"
